body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #f4f2f7;
    background-image: url("http://s3-us-west-2.amazonaws.com/s.cdpn.io/3/old_map_@2X.png");
}

header {
    float: left;
    font-family: 'Ubuntu Mono', monospace;
}

.fa-github:hover{
    font-size: 50px;
}

.fa-facebook:hover{
    font-size: 50px;
}

.fa-linkedin:hover{
    font-size: 50px;
}

.fa-instagram:hover{
    font-size: 50px;
}

.footer {
    padding-top: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}

.footer p a {
    color: white;
}

#social {
    margin-top: 30px;
}

#social a {
    margin-right: 20px;
    color: #333;
}


#social a:hover {
    color: gray;
    text-decoration: none;   
}

